.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

examples/tool.html
examples/ransac.html
examples/feat.html
examples/vs.html
examples/videostab.html
examples/js/videostab
examples/js/ransac.js
examples/js/sylvester.js
